<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Practice</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>

    <!--There has some directives, like v-if v-bind v-on, can control dom reactively.-->
    <!--Filters can be used in mustache interpolations and v-bind expressions.-->

    <div v-if="seen"  id="test_ele">
        <p v-bind:class="{red}">{{ random }}</p>
        
        <!--use :key to order items-->
        <p v-for="(i, j) in numbers" > {{ i | getOne }} - {{j}} </p>
        
        <p style="color:red"> {{ one | getOne }} </p>

        <input v-model.number="watchtest" >

        <input v-on:keyup.up="submit" v-model="inputValue" v-on:change="inputChange">
        
        <input v-model="checkedValues" class="text" type="checkbox" name="" value="a">
        <input v-model="checkedValues" class="text" type="checkbox" name="" value="b">
        <input v-model="checkedValues" class="text" type="checkbox" name="" value="c">

        <p>{{checkedValues}}</p>
        
        <button v-on:click="click" v-if="seen">Change a</button>

        <component-test>
        </component-test>
        <another-component-test :recive-msg="inputValue"></another-component-test>
 
        
    </div>

    
    
    
    <script src="../js/vue.min.js" type="text/javascript"></script>
    <script src="./vue.test.js" type="text/javascript"></script>
</body>
</html>
