body {
	witext-align: center;
}

#cal-body {
	background:url(../img/background.png);
	width: 400px; height: 500px;
	position:relative;
	left:33%;
}

/* display */
#display {
	width:400px; height:79px;
}

#data-style {
	width:300px; height:70px;
	font-size:24px;
	font-family: Century Gothic;
	color:#d4d4d4;
	text-align:right;
	position:relative;
	right:20px; top:10px;	
}

#res {
	text-align: right;
	position: relative;
	top: -20px;
}

/* botton */

#button {
	position:relative;
	top:23px; left:25px; 
	width: 352px;
	text-align: right;
}

.key {
	width: 85px; height: 60px;
	background-color: #023559;
	font: 50px Microsoft Yi Baiti;
	font-weight: 100;
	color:#d4d4d4;
	border: 0px;
	margin: 1.5px; padding: 0px;
	text-align: center;
}
.key:hover {
	background-color: #124b73;
}

#equal {
	width: 173px; height: 60px;
	background-color: #023559;
	font: 50px Microsoft Yi Baiti;
	font-weight: 100;
	color:#d4d4d4;
	border: 0px;
	margin: 1.5px; padding: 0px;
	text-align: center;
}
#equal:hover {
	background-color: #124b73;
}